<body>
<div class="row property-section">
  <div class="col-md-12">
    <div class="card listing-area">
      <div class="card-body">
        <div _ngcontent-bgi-c3="" class="single-featured-box">
          <div _ngcontent-bgi-c3="" class="icon color-fb7756"><img src="/assets/css/colors/icons/green/1.png" width="60" alt=""></div>
          <h3 _ngcontent-bgi-c3="">Buy Property at Cheaper prices</h3>
        </div>
         <div class="row">
           <div class="col-md-6">
             <div class="homes-area">
               <div class="card">
                 <a href="single-property-1.html" class="homes-img">
                   <div class="row">
                     <div class="col-md-8">
                       <div class="float-left">
                         <img width="auto" height="200" src="/assets/images/feature-properties/fp-1.jpg" alt="home-1" class="pull-right">
                       </div>
                     </div>
                     <div class="col-md-4 text-center">
                       <div>Featured Pricing </div>
                     </div>

                   </div>
                 </a>
               </div>

             </div>
           </div>
         </div>
        </div>
    </div>

  </div>
</div>
</body>
