<!-- STAR HEADER SEARCH -->
<section id="hero-area" class="parallax-searchs home15 overlay" data-stellar-background-ratio="0.5">
  <div class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero-inner">
            <!-- Welcome Text -->
            <div class="welcome-text">
              <h1 class="h1">Find Your Dream
                <br class="d-md-none">
                <span class="typed border-bottom"></span>
              </h1>
              <p class="mt-4">Our experience ensures that your projects will be done right and with the upmost professionalism.</p>
            </div>
            <!--/ End Welcome Text -->
            <!-- Search Form -->
            <div class="trip-search">
              <form class="form">
                <!-- Form Location -->
                <div class="form-group location">
                  <div class="nice-select form-control wide" tabindex="0"><span class="current"><i class="fa fa-map-marker"></i>Location</span>
                    <ul class="list">
                      <li data-value="1" class="option selected ">New York</li>
                      <li data-value="2" class="option">Los Angeles</li>
                      <li data-value="3" class="option">Chicago</li>
                      <li data-value="3" class="option">Philadelphia</li>
                      <li data-value="3" class="option">San Francisco</li>
                      <li data-value="3" class="option">Miami</li>
                      <li data-value="3" class="option">Houston</li>
                    </ul>
                  </div>
                </div>
                <!--/ End Form Location -->
                <!-- Form Property Type -->
                <div class="form-group">
                  <div class="nice-select form-control wide" tabindex="0"><span class="current"><i class="fa fa-home"></i>Property Type</span>
                    <ul class="list">
                      <li data-value="1" class="option selected ">Family House</li>
                      <li data-value="2" class="option">Apartment</li>
                      <li data-value="3" class="option">Condo</li>
                    </ul>
                  </div>
                </div>
                <!--/ End Form Property Type -->
                <!-- Form Property Status -->
                <div class="form-group duration">
                  <div class="nice-select form-control wide" tabindex="0"><span class="current"><i class="fa fa-home"></i>Property Status</span>
                    <ul class="list">
                      <li data-value="1" class="option selected ">For Sale</li>
                      <li data-value="2" class="option">For Rent</li>
                    </ul>
                  </div>
                </div>
                <!--/ End Form Property Status -->
                <!-- Form Bedrooms -->
                <div class="form-group">
                  <div class="nice-select form-control wide" tabindex="0"><span class="current"><i class="fa fa-bed" aria-hidden="true"></i>Any Bedrooms</span>
                    <ul class="list">
                      <li data-value="1" class="option selected">1</li>
                      <li data-value="2" class="option">2</li>
                      <li data-value="3" class="option">3</li>
                      <li data-value="3" class="option">4</li>
                      <li data-value="3" class="option">5</li>
                      <li data-value="3" class="option">6</li>
                      <li data-value="3" class="option">7</li>
                      <li data-value="3" class="option">8</li>
                      <li data-value="3" class="option">9</li>
                      <li data-value="3" class="option">10</li>
                    </ul>
                  </div>
                </div>
                <!--/ End Form Bedrooms -->
                <!-- Form Bathrooms -->
                <div class="form-group">
                  <div class="nice-select form-control wide" tabindex="0"><span class="current"><i class="fa fa-bath" aria-hidden="true"></i>Any Bathrooms</span>
                    <ul class="list">
                      <li data-value="1" class="option selected">1</li>
                      <li data-value="2" class="option">2</li>
                      <li data-value="3" class="option">3</li>
                      <li data-value="3" class="option">4</li>
                      <li data-value="3" class="option">5</li>
                      <li data-value="3" class="option">6</li>
                      <li data-value="3" class="option">7</li>
                      <li data-value="3" class="option">8</li>
                      <li data-value="3" class="option">9</li>
                      <li data-value="3" class="option">10</li>
                    </ul>
                  </div>
                </div>
                <!--/ End Form Bathrooms -->
                <!-- Form Button -->
                <div class="form-group button">
                  <button type="submit" class="btn">Search</button>
                </div>
                <!--/ End Form Button -->
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HEADER SEARCH -->

<!-- START SECTION INFO -->
<section _ngcontent-bgi-c3="" class="featured-boxes-area bg-white-1">
  <div _ngcontent-bgi-c3="" class="container">
    <div _ngcontent-bgi-c3="" class="featured-boxes-inner">
      <div _ngcontent-bgi-c3="" class="row m-0">
        <div _ngcontent-bgi-c3="" class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div _ngcontent-bgi-c3="" class="single-featured-box">
            <div _ngcontent-bgi-c3="" class="icon color-fb7756"><img src="/assets/css/colors/icons/green/1.png" width="60" alt=""></div>
            <h3 _ngcontent-bgi-c3="">Buy Property</h3>
            <p _ngcontent-bgi-c3="">Lorem ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a _ngcontent-bgi-c3="" class="read-more-btn" href="single-property-1.html">Read More</a>
          </div>
        </div>
        <div _ngcontent-bgi-c3="" class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div _ngcontent-bgi-c3="" class="single-featured-box">
            <div _ngcontent-bgi-c3="" class="icon color-facd60"><img src="/assets/css/colors/icons/green/2.png" width="60" alt=""></div>
            <h3 _ngcontent-bgi-c3="">Rent Property</h3>
            <p _ngcontent-bgi-c3="">Lorem ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a _ngcontent-bgi-c3="" class="read-more-btn" href="single-property-1.html">Read More</a></div>
        </div>
        <div _ngcontent-bgi-c3="" class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div _ngcontent-bgi-c3="" class="single-featured-box">
            <div _ngcontent-bgi-c3="" class="icon color-1ac0c6"><img src="/assets/css/colors/icons/green/3.png" width="60" alt=""></div>
            <h3 _ngcontent-bgi-c3="">Real Estate Kit</h3>
            <p _ngcontent-bgi-c3="">Lorem ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a _ngcontent-bgi-c3="" class="read-more-btn" href="single-property-1.html">Read More</a></div>
        </div>
        <div _ngcontent-bgi-c3="" class="col-lg-3 col-sm-6 col-md-6 p-0">
          <div _ngcontent-bgi-c3="" class="single-featured-box">
            <div _ngcontent-bgi-c3="" class="icon"><img src="/assets/css/colors/icons/green/4.png" width="75" alt=""></div>
            <h3 _ngcontent-bgi-c3="">Sell Property</h3>
            <p _ngcontent-bgi-c3="">Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p><a _ngcontent-bgi-c3="" class="read-more-btn" href="single-property-1.html">Read More</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END SECTION INFO -->

<!-- START SECTION INFO-HELP -->
<section class="info-help">
  <div class="container">
    <div class="row info-head">
      <div class="col-lg-6 col-md-8 col-xs-8">
        <div class="info-text">
          <h3>Special Offers Every Day.</h3>
          <p>We Help you find the best places and offer near you. Bring to the table win-win survival strategies to ensure proactive domination going forward.</p>
          <div class="inf-btn pro">
            <a href="contact-us.html" class="btn btn-pro btn-secondary btn-lg">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-3"></div>
    </div>
  </div>
</section>
<!-- END SECTION INFO-HELP -->

